
.contact_info {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 2em;
}

.contact_info {
    display: flex;
    align-items: center;
}

.contact_info>p {
    padding-right: 10px;
}

.contact_info>ion-icon {
    background-color: #1A6C8C;
    border-radius: 50%;
    color: white;
    padding: 8px;
}


.call {
    font-size: 1.5rem;
    color: #1A6C8C;
}



.header {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5em;
    color: #74768F;

}

.header ul li {
    display: inline-block;
    margin: 0.9em;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
}

.header ul li:hover {
    transform: scale(1.35);
    color: #256a28;
}

.hamburger{
    color: #256a28;
}

.button {
    margin-left: 5em;
    padding: 12.5px;
    border-radius: 5px;
    border-style: none;
    background-color: #64903E;
    color: white;
    margin-bottom: 1rem;
}

.learn-more-two-btn {
    background-color: #64903E;
    color: white;
    padding-top: 15px;
    border-radius: 5px;
    border-style: none;
}

.learn-btn {
    background-color: #64903E;
    color: white;
    padding: 15px;
    border-radius: 5px;
    border-style: none;
}

.register-btn {
    background-color: #64903E;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border-style: none;
}

.home_page {
    background: url(assets/hero.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    margin: 0;
    padding: 0;
    position: relative;

}

.home_text {
    position: absolute;
    top: 35%;
    left: 40%;
    transform: translate(-16em, -4.3125em);
    color: white;
    z-index: 1;
}

.home_text h5 {
    font-size: 15px;
}




.home_text h1 {
    color: #1A6B89;
    font-size: 278.425%;

}

.home_text span {
    color: #64903E;
}

.aboutus_page {
    background-color: #1A6C8C;
    display: flex;
    flex-direction: row;
    color: #F5F5F5;
    font-size: 15px;
    justify-content: space-around;
    padding: 2rem;
}

.become-member,
.access_loan,
.empowering,
.start_saving {
    display: flex;
    align-items: center;
    text-align: center;
}

.become-member img,
.access_loan img,
.empowering img,
.start_saving img {
    margin-right: 10px;
}

.become-member p,
.access_loan p,
.empowering p,
start_saving p {
    font-size: 16px;
}


.highlight-text {
    font-weight: bold;
    font-size: 18px;
}


.membership_page {
    display: flex;
    flex-direction: row;
    gap: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem;
}

.details {
    display: flex;
    flex-wrap: wrap;

}

.details h1 {
    color: #1A6C8C;
}

.membership_page img {
    width: 30rem;

}

.savings_page {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #ADC8D2;

}

.savings_page span {
    color: #64903E;
}

.figures {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 2rem;


}

.borrow {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.borrow span {
    color: #64903E;
}

.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}

.card {
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1em;
}

.image img {
    height: 100%;
    width: 100%;
}

.title h1 {
    color: #1A6C8C;
}

.title {
    display: flex;
    flex-direction: column;
    text-align: center;
}


.bottom_text {
    position: relative;
    background-color: #256a28;
    top: -80px;
    width: 90%;
    height: 95%;
    left: 4.5%;
    border-radius: 5.57px 50px 5.57px 5.57px;
    background: #F5F5F5;
    box-shadow: 0px 5.570000171661377px 11.399999618530273px 0px rgba(0, 0, 0, 0.40);
    text-align: center;
}

.bottom_text h1 {
    color: #1A6C8C;
}

.bottom_text h3 {
    color: #76BE37;
}

.footerText {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}






.footer_container {
    background-color: #1A6C8C;
    padding: 10%;
    padding-left: 12%;
    padding-right: 12%;

}

.footer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    color: white;

}

.footer_text {
    text-align: center;
    color: var(--white, #FFF);
}

.circle {
    display: inline-block;
    width: 20px;
    height: 20px;
    border: 1px solid white;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
}

.letter {
    font-size: 12.5px;
    font-weight: bold;
    color: var(--white, #FFF);
}



.footer_text::before {
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(255, 255, 255, 0.5);
    margin-top: 20px;
    margin-bottom: 20px;
}

.white-underline {
    text-decoration: underline rgba(255, 255, 255, 0.5);

}


.social_text {
    display: grid;
    place-items: center;
}

.imgg {
    position: relative;
}

.textt {
    border-radius: 45%;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    background-color: #f0f0f0;
    padding: 20px;
    position: absolute;
    top: -20px;

}


.textt h1 {
    font-size: 24px;
}

.textt p {
    font-size: 14px;
    line-height: 1.4;
}

.textt h3 {
    font-size: 18px;
}

.textt img {
    width: 30px;
    height: auto;
}


@media (min-width: 1920px) {
    * {
        margin: 0;
        padding: 0;
    }

    .contact_info {
        padding-bottom: 1.2em;
        padding-top: 1rem;
        font-size: 2rem;
    }

    .contact_info img {
        width: 40px;
    }

    .logo {
        width: 10%;
    }



    .button {
        height: 2.5rem;
        padding: 2rem;
        padding-bottom: 3.5rem;
        font-size: 25px;

    }

    .header {
        margin-bottom: 2.5rem;
    }

    .menu {
        font-size: 30px;
    }

    .register-btn {
        margin-top: 10%;
        width: 25%;
        font-size: 27.5px;
        padding: 2rem;

    }

    .aboutus_page {
        padding: 5rem;
    }

    .aboutus_page p {
        font-size: 2rem;
        font-weight: lighter;
    
    }
    .membership_page {
     padding: 10rem;
        align-items: center;
        display: flex;
        flex-direction: row;
    }

    .membership_page h1 {
        font-size: 50px;
        padding-top: 1rem;
    }

    .aboutimg img {
        width: 50rem;
        position: relative;
        top: -2rem;

    }

    .membership_page p {
        font-size: 27px;
    }
    

    .details {
        margin-top: 0.5rem;
    }

    .learn-btn {
        font-size: 25px;
        padding: 2rem;
        width: 80%;
        margin-left: 1rem;
    }




    .home_text {
        font-size: 2rem;
        text-align: center;
        padding-top: 10rem;
        padding-left: 10rem;
    }

    .home_text h5 {
        font-size: 2.5rem;
    }

    .figures img {
        width: 5rem;
        height: 15%;
    }

    .figures p {
        font-size: 25px;
    }

    .savings_page{
        padding: 10rem;
    }

    .savings_page h1 {
        font-size: 50px;
    }

    .savings_page p {
        font-size: 27px;
    }

    .learn-more-two-btn {
        margin-top: 2rem;
        width: 30%;
        font-size: 25px;
        padding: 1.2rem;

    }

    .borrow {
        padding: 10rem;
        padding-bottom: 6.5rem;
    }

    .text-borrow p {
        line-height: 2.5rem;
        font-size: 25.5px;
  
    }

    .text-borrow h1 {
        font-size: 40px;
    }

    .title {
        padding-bottom: 3rem;
    }

    .title h1 {
        font-size: 50px;
    }

    .title p {
        font-size: 25.5px;
    }

    .bottom_text {
        padding: 1.2rem;
    }

    .bottom_text h1 {
        font-size: 2.5rem;
    }

    .bottom_text p {
        font-size: 1.2rem;
        padding-bottom: 25px;
    }

    .footerText h3 {
        font-size: 1.8rem;
    }

    .footerText img {
        width: 2rem;
    }

    .footer li {
        font-size: 1.5rem;
    }

    .footer_text {
        font-size: 1.2rem;
    }



}

@media (min-width:1280px) and (max-width:1919px) {
    .home_text h5 {
        font-size: 1.5rem;
    }

    .register-btn {
        padding: 1rem;
        width: 7rem;
    }

    .membership_page {
        padding-bottom: 2rem;
    }

    .borrow {
        padding-bottom: 2.2rem;
    }

    .learn-more-two-btn {
        padding-bottom: 2.5%;
        width: 20%;
    }
}

@media (min-width: 768px) and (max-width: 981px) {
    .header {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        color: #74768F;
        font-size: 14.5px;

    }

    .aboutus_page p {
        font-size: 15.5px;
    }

    .hamburger {
        display: none;
    }

    .home_text h5 {
        font-size: 1.2rem;
    }

    .button {
        margin-left: 30rem;
    }

    .aboutimg img {
        width: 20rem;
    }

    .membership_page {
        padding-bottom: 1.3rem;
    }

    .details {
        padding-right: 3.5rem;
    }

    .details h1 {
        font-size: 1.2rem;
    }

    .details p {
        font-size: 0.95rem;
    }

    .savings-text h1 {
        font-size: 25.5px;
    }

    .savings-text p {
        font-size: 15.5px;
    }

    .learn-more-two-btn {
        padding-bottom: 1rem;
        width: 25%;
    }

    .borrow {
        padding: 2rem;
    }

    .borrow img {
        width: 20rem;
    }

    .text-borrow p {
        line-height: 1rem;
    }

    .grid-container {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 1em;
    }

}



@media (min-width: 480px) and (max-width: 767px) {
    .home_page {

        font-size: 100%;
    }

    .home_page img {
        background-size: cover;
    }

    .contact_info {
        flex-direction: column;
        text-align: center;

    }

    .contact_info>ion-icon {
        margin-top: 10px;

    }

    .header ul li {
        display: none
    }


    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2.5rem;
    }




    .home_page {

        background-size: cover;
    }

    .home_text {
        position: absolute;

        transform: translate(-5.5em, -1.3125em);
        color: white;
        z-index: 1;

    }

    .home_text h5 {
        font-size: 15px;

    }

    .membership_page {
        padding-bottom: 2rem;
    }




    .home_text h1 {
        color: #1A6B89;
        font-size: 30px;

    }

    .aboutus_page {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .aboutimg {
        margin-right: 5rem;

    }

    .aboutimg img {
        width: 29rem;
    }

    .aboutus_page {
        display: grid;
        align-items: center;
    }


    .savings_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .savings-text h1 {
        font-size: 27px;
    }

    .savings-text p {
        font-size: 15px;
    }

    .learn-more-two-btn {
        padding-bottom: 3.5%;
        padding: 3.5%;
    }


    .borrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
        padding-bottom: 5rem;

    }



    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }
}

@media (max-width: 480px) {
    .home_page {
        font-size: 100%;

    }

    .home_page img {
        background-size: cover;
    }

    .contact_info {
        flex-direction: column;
        text-align: center;

    }

    .contact_info>ion-icon {
        margin-top: 10px;

    }

    .header ul li {
        display: none
    }


    .header {
        display: flex;
        flex-direction: row;
        align-items: center;
        padding-top: 2.5rem;
    }




    .home_page {

        background-size: cover;
    }

    .home_text {
        position: absolute;

        transform: translate(-5.5em, -1.3125em);
        color: white;
        z-index: 1;


    }



    .home_text h5 {
        font-size: 20px;

    }

    .membership_page {
        padding-bottom: 2rem;
    }




    .home_text h1 {
        color: #1A6B89;
        font-size: 30px;

    }

    .aboutus_page {
        display: flex;
        flex-direction: column;
        text-align: center;
    }


    .aboutimg {
        margin-right: 5rem;

    }

    .aboutimg img {
        width: 29rem;
    }

    .aboutus_page {
        display: grid;
        align-items: center;
    }


    .savings_page {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        padding: 5%;
    }

    .savings-text h1 {
        font-size: 27px;
    }

    .savings-text p {
        font-size: 15px;
    }

    .learn-more-two-btn {
        padding-bottom: 3.5%;
        padding: 3.5%;
    }


    .borrow {
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 100%;
        padding-bottom: 5rem;
        padding-right: 10%;

    }
.text-borrow p{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
font-size: 12.5px;
padding-left: 1.2rem;
padding-right: 1.2rem;


}

.card h1{
    font-size: 20px;
    
}

.card p{
    font-size: 13.5px
}

.text-borrow h1{
    font-size: 15px;
    padding-left: 2rem;
padding-right: 1rem;
}

.title p{
    font-size: 13.5px;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.text-borrow h1{
    font-size: 17.5px;
  
}


    .grid-container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .footer {
        display: flex;
        flex-direction: column;
        justify-content: space-around;

    }

   
.membership_page {
    display: flex;
    flex-direction: column;
   
}


.aboutimg img{
display: none;
}

.borrow img{
    width:15rem;
}

.details{
    font-size: 13.5px;
}

.savings-text h1{
    font-size: 19.5px;
}
.savings-text p{
    font-size: 13.5px;
}

}
